/* Customize boxes */
div#boxes div.box-content {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.module-entry {
    margin: 1em;
}
.module-single {
    padding: 0.5em;
    min-width: 200px;
}

.icon{
    height: 1em;
}

/* General styles for boxes and overlays */
.box {
    background: rgba(30,30,30,0.7);
}

/* Style draggable */
.draggable {
    width: 250px;
    height: 250px;
    padding: 1em;
    float: left;
    font-size: 1em;
    border: black;
}
.ui-widget-header p, .ui-widget-content p {
    margin: 0;
}

.ui-widget-content {
    border: 1px solid #aaa;
}

/* Style resizable */
.ui-icon { width: 16px; height: 16px; background-image: url(img/icon_resizable.png); }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
