/* Customize boxes */
div#boxes div.box-content {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.module-entry {
    margin: 1em;
}

.module-single {
    padding: 0.5em;
    max-width: 100%;
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
.module-single:hover {
    text-decoration: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border:1px solid rgba(255, 255, 255, 0.8);
}

.icon {
    height: 1em;
    margin-right: 0.5em;
}

/* General styles for boxes and overlays */
.box {
    text-align: left;
    background: rgba(30, 30, 30, 0.7);
}

.box-control-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    z-index: 1;
}

.box-control-menu {
    display: none;
    position: relative;
    top: 0;
    right: 0;
}

/* Style draggable */
.draggable {
    width: 400px;
    height: 300px;
    padding: 1em;
    float: left;
    font-size: 1em;
    border: black;
}
.ui-widget-header p, .ui-widget-content p {
    margin: 0;
}

.ui-widget-content {
    border: 1px solid #aaa;
}

/* Style resizable */
.ui-icon { width: 16px; height: 16px; background-image: url(img/icon_resizable.png); }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
