.draggable {
    width: 250px;
    height: 250px;
    padding: 1em;
    float: left;
    font-size: 1em;
    background: none;
    border: black;
}
.ui-widget-header p, .ui-widget-content p {
    margin: 0;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
}
